:root{

    --primary:#A67C52;
    --secondary:#DCC5A1;
    --cream:#FFF8F0;
    --background:#F7F3EE;

    --text:#3E2C23;

    --accent:#B8A99A;

    --radius:12px;

    --shadow:
    0 4px 12px rgba(0,0,0,0.1);
}